#title{
    background-color:crimson;
}
 /* main heading of the landing page */
h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    size: 3.5rem;
}
/* navbar container which is responsive and fluid(blends in the environment) */
.container-fluid{
    padding: 3% 15% 6%;
}
/* iphone image */
.iphone{
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
    
}
#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
}
body{
    font-family: 'montserrat-dark', sans-serif;
}
.navbar-brand{
    font-family: 'ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 1.12rem;
}
.nav-link{
 font-size: 1.2rem;   
 font-family: 'montserrat-light',sans-serif;
}
/* download buttons for apple and google play store */
.download-btn{
    margin: 5% 3% 5% 0;
}
/* divs for the features boxes */
.features-div{
    padding: 1%;
}
/* feature icons */
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
/* features heading */
.features-head{
    size: 1.5rem;
    font-weight: bold;
}
/* content for features */
p{
    color:#8f8f8f;
}
/* pseudo class for icon hover state */
.icon:hover{
    color:crimson;
}

/* section features */
#features{
    text-align: center;
    padding: 7% 15%;
}

/* testimonials section */
#testimonials{
     text-align: center;
    color: #fff;
    background-color:crimson;
}
h2{
    font-family: 'montserrat-dark', sans-serif;
    font-size: 3rem;
    line-height: 1.3;
    font-weight: bold;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 4%
}

.carousel-item{
    padding: 7% 15%;
}

/* press section */
#press{
    background-color: crimson ;
    padding: 5% 0;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 2%;
    margin-top: 0%;
}

/* pricing section */

#pricing{
    padding: 70px;
    text-align: center;
}
.pricing-card{
     margin: 5% 2% 3%;
    padding: 0; 
}

/* cta section */

#cta{
    background-color: crimson;
    text-align: center;
    padding: 5% 15%;
}
.cta-header{
    font-family: 'montserrat-dark', sans-serif;
    color: #fff;
    font-size: 3.5rem;
    font-weight:bold;   
}
#footer{
    text-align: center;
    padding: 5% 15% 2%;
}
.socials{
    margin: 1% 2%;
    
}
.copyright{
    margin-top: 2%;
}


/* css responsiveness */
@media (max-width:1010px) {
    
    #title{
        text-align: center;

    }

    .iphone{
        transform: rotate(0deg);
        position: static;
    }

}
